.favoriteList {
  margin: 32px 0;
  width: 1000px;
  max-width: 100%;
}

div.favoriteEmpty {
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

div.favoriteItem {
  background-color: #424242;
  padding: 0;
}

div.favoriteItem.rs-list-item:hover {
  background-color: #42424280;
}

/* Helpers */

.centerText {
  text-align: center;
}

.endText {
  text-align: center;
}
