.card {
  margin: 8px;
  min-height: 272px;
  perspective: 272px;
  background-color: transparent;
}

div.cardInner {
  width: 100%;
  display: flex;
  padding: 0 !important;
  justify-content: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.cardInner .rs-flex-box-grid {
  height: 177px;
  overflow: auto;
  color: #424242;
  text-align: center;
  padding: 2px 8px;
  background-color: #fafafa;
  border-radius: 0px 0px 6px 6px;
}

.cardInner .rs-flex-box-grid .overview {
  width: 100%;
  text-align: justify;
}

.card:hover .cardInner {
  /* transform: rotateY(180deg); */
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content img,
.content .cardWithoutImage {
  height: 272px;
  width: 100%;
  min-width: 185px;
  border-radius: 6px;
  background-color: #eeee;
}

button.cardFavoriteButton {
  top: 8px;
  right: 8px;
  position: absolute;
  transition: 500ms ease;
}
