.card {
  margin: 0.5rem;
  min-height: 272px;
  perspective: 272px;
  background-color: transparent;
  transition: transform 200ms ease;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

div.cardInner {
  width: 100%;
  display: flex;
  padding: 0 !important;
  justify-content: center;
}

.cardInner .rs-flex-box-grid {
  height: 177px;
  overflow: auto;
  color: #424242;
  text-align: center;
  padding: 0.125rem 0.5rem;
  background-color: #fafafa;
  border-radius: 0rem 0rem 0.375rem 0.375rem;
}

.cardInner .rs-flex-box-grid .overview {
  width: 100%;
  text-align: justify;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content img,
.content .cardWithoutImage {
  height: 272px;
  width: 100%;
  min-width: 185px;
  border-radius: 0.375rem;
  background-color: #eeee;
}

button.cardFavoriteButton {
  top: 0.5rem;
  right: 0.5rem;
  position: absolute;
}

@media (max-width: 800px) {
  .content img,
  .content .cardWithoutImage {
    height: auto;
    width: 100%;
    min-width: 185px;
    border-radius: 0.375rem;
    background-color: #eeee;
  }
}
