.banner {
  filter: hue-rotate(10deg);
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-image: url(../../assets/images/background.jpg);
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner p {
  font-size: 1.2rem;
}

@media (max-width: 460px) {
  .banner {
    height: 300px;
  }

  .bannerLogo {
    display: none;
  }
}
